*{
    box-sizing:border-box;
}

body{
    background-image: url("./Eid_image.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: antiquewhite;
    margin: 0;
}

h1{
    font-size: 4rem;
}

.page-container{
    text-align: center;
    margin-top: -23rem;
    border-radius: 25px;
    text-shadow: 3px 3px #666B6A;
}

.countdown-countainer{
    display: flex;
}

.large-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2.3rem;
}

span{
    font-size: 1.5rem;
    font-weight: bold;
}